BUGSNAG_API_KEY=<BUGSNAG_API_KEY>
SENTRY_DSN=<SENTRY_DSN>
FIREBASE_API_KEY=<FIREBASE_API_KEY>
FIREBASE_AUTH_DOMAIN=<FIREBASE_AUTH_DOMAIN>
FIREBASE_PROJECT_ID=<FIREBASE_PROJECT_ID>
FIREBASE_STORAGE_BUCKET=<FIREBASE_STORAGE_BUCKET>
FIREBASE_MESSAGING_SENDER_ID=<FIREBASE_MESSAGING_SENDER_ID>
FIREBASE_APP_ID=<FIREBASE_APP_ID>
FIREBASE_MEASUREMENT_ID=<FIREBASE_MEASUREMENT_ID>
API_USERNAME=<API_USERNAME>
API_PASSWORD=<API_PASSWORD>
REST_API_URL=<REST_API_URL>
